//шрифты
@mixin regular {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
}

@mixin SemiBold {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 12px;
}

@mixin Bold {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
}
