//Основные цвета
$color1: #0c1111;
$color2: #ffffff;
$color3: #333333;

//Цвета градиентов
$color_grey: linear-gradient(to right, #d6d6d8, #f2f3f5);
$color_grey2: linear-gradient(to right, #f2f3f5, #d6d6d8);
$color_orange: linear-gradient(to right, #ff8c00, #f8c129);
