/*блок с видимостью местоположения пользователя на сайте*/
.main__nesting {
  display: flex;
  @include regular;
  margin-top: 0.3em;
  padding: 5px 2.5vw;
}
/*ссылка на главную страницу*/
.main__nesting-link {
  text-decoration: none;
  color: $color3;
}
/*разделитель*/
.main__nesting-divider {
  margin: 0.2em;
}
.main__nesting-divider::before {
  content: "/";
}

.main__nesting-category {
  color: $color3;
}

/*обертка заголовка блока Помощь*/
.main__help-headline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 2.5vw;

  /*заголовок*/
  .main__help-title {
    @include SemiBold;
    font-size: 26px;
  }
  .main__help-phone {
    display: flex;
    align-items: center;
  }

  .main__help-phone-txt {
    @include regular;
    font-size: 14px;
    margin-right: 23px;
  }
  .main__help-phone-num {
    @include SemiBold;
    font-size: 24px;
  }
}
